@model CmsShop.Models.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Edycja strony";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edycja strony</h2>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>

}
<h4>PageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label">Adres</label>
                @if (Model.Slug == "home")
                {
                    <input asp-for="Slug" class="form-control" readonly/>
                }
                else
                {
                    <input asp-for="Slug" class="form-control" />
                }
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label">Treść</label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasSiteBar" /> Pasek boczny
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

